body {
    margin:0;
}


#all {
    display: grid;
    grid-template-rows: 3fr auto;
}

#body {
    display: grid;
    grid-template-rows: auto auto;
}

#TopHouseFrame {
    position: relative;
    text-align: center;
    margin: 3em auto auto;
    width: 50em;
}

.BottomText {
    position: absolute;
    width: 100%;
    height: 10%;
    background-color: rgba(240, 248, 255, 0.85);
    bottom: 3px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    font-family: Righteous, sans-serif;
}

#TopHouse {
    border-radius: 25px;
    width: 100%;
}

.HousePreviewer {
    display: flex;
    background-color: #BFD5F6;
    margin: 3em auto auto;
    width: 80%;
    height: 15em;
    border-radius: 40px;
}

.PreviewedHouse {
    display: none;
    flex: 1 1 0;
    margin-top: 1em;
    margin-bottom: 1em;
}

.PreviewedHouseImage {
    display: block;
    margin-left:auto;
    margin-right:auto;
    height: 100%;
    width: 20em;
    border-radius: 25px;
}

.BottomTextPreview {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    bottom: 25%;
    width: 24.6em;
    height: 25%;
    background-color: rgba(240, 248, 255, 0.85);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    text-align: center;
    font-family: Righteous,
    sans-serif;
    font-size: small;
}

.BottomTextPreview p {
    padding-top: 1em;
    margin: 0;
}

.arrowButton {
    background: none;
    outline-width: 0;
    border: 0;
    height: 5em;
    margin-top: auto;
    margin-bottom: auto;
    color: #789BD0;
    margin-right: 2em;
    margin-left: 2em;
}

.arrowButton:hover {
    cursor: pointer;
}

#messages{
    color: red;

}

.slideLeftAnimation {
    -webkit-animation: translateLeft 0.5s;
    animation: translateLeft 0.5s
}

.slideRightAnimation {
    -webkit-animation: translateRight 0.5s;
    animation: translateRight 0.5s
}

@-webkit-keyframes translateLeft {
    from {-webkit-transform: translate(0, 0)} 
    to {-webkit-transform: translate(-100%, 0)}
}
    
@keyframes translateLeft {
    from {transform: translate(0, 0)} 
    to {transform: translate(-100%, 0)}
}

@-webkit-keyframes translateRight {
    from {-webkit-transform: translate(0, 0)} 
    to {-webkit-transform: translate(100%, 0)}
}
    
@keyframes translateRight {
    from {transform: translate(0, 0)} 
    to {transform: translate(100%, 0)}
}