#body {
    display: grid;
    grid-template-columns: 18em auto;
    font-family: Righteous, sans-serif;
    height: 100%;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
}

#profilePicture {
    height: 16em;
    width: 13em;
    border-radius: 2em;
    object-fit: cover;
}

#profileContainer {
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    width: 13em;
    height: 16em;
}

#user_info {
    text-align: center;
}

#editButton {
    background-color: rgba(255,255,255,0.95);
    border: none;
    width: 6em;
    height: 6em;
    clip-path: circle(2.5em at center);
}

#editButtonTotal{
    position: relative;
    top: -11em;
    left: 4em;
}

#editButton:hover {
    cursor: pointer;
}

.userInfoText {
    margin-bottom: 0;
    margin-top: 0.5em;
    overflow: hidden;
}

.editUserInfo {
    display: none;
}

#userPanel {
    background-color: #BFD5F6;
}

.panelButton {
    background-color: #789BD0;
    display: block;
    width: 250px;
    height: 80px;
    margin: 20px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    font-family: Righteous, sans-serif;
    font-size: 2em;
}

.panelButton:focus {
    outline-width: 0;
}

#housesPanel {
    overflow: scroll;
    height: 100%;
}