#body {
    display: grid;
    grid-template-columns: 18em auto;
    font-family: Righteous, sans-serif;
    height: 100%;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
}

#profilePicture {
    height: 16em;
    width: 13em;
    border-radius: 2em;
    object-fit: cover;
}

#profileContainer {
    margin-left: auto;
    margin-right: auto;
    width: 13em;
    height: 16em;
}

#user_info {
    text-align: center;
    margin-bottom: 3em;
}

#editButton {
    background-color: rgba(255,255,255,0.95);
    border: none;
    width: 6em;
    height: 6em;
    clip-path: circle(2.5em at center);
}

#editButtonTotal{
    position: relative;
    top: 15.5em;
    left: 4em;
}

#editButton:hover {
    cursor: pointer;
}

.userInfoText {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    overflow: scroll;
    max-width: 10em;
    margin-left: auto;
    margin-right: auto;
}

.editUserInfo {
    display: none;
}

#userPanel {
    background-color: #BFD5F6;
}

.panelButton {
    background-color: #789BD0;
    display: block;
    width: 250px;
    height: 80px;
    margin: 20px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    font-family: Righteous, sans-serif;
    font-size: 2em;
}

.panelButton:focus {
    outline-width: 0;
}

#housesPanel {
    overflow: scroll;
    height: 100%;
}

#editProfileDiv {
    background-color: #789BD0;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    padding: 1em;
}

#editProfileDiv h1 {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    color: white;
    width: max-content;
}

#editProfileDiv label {
    display: block;
}

#editProfileDiv label input{
    margin-left: auto;
    width: 30em;
}

#editProfileDiv label p{
    display: inline-block;
    width: 10em;
    margin: 0;
}

#editProfileDiv label input[type="date"]{
    width: 15em;
}

#editProfileDiv input[type="submit"]{
    border: none;
    background-color:  #BFD5F6;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}