#body {
    display: grid;
    grid-template-columns: 18em auto;
    font-family: Righteous, sans-serif;
    height: 100%;
    overflow: hidden;
}

#all {
    display: grid;
    grid-template-rows: 5em min-content min-content;
    height: 100vh;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
}

#profilePicture {
    height: 16em;
    width: 13em;
    border-radius: 2em;
    object-fit: cover;
}

#profileContainer {
    margin-left: auto;
    margin-right: auto;
    width: 13em;
    height: 16em;
}

#user_info {
    text-align: center;
    margin-bottom: 3em;
}

#editButton {
    background-color: rgba(255,255,255,0.95);
    border: none;
    width: 6em;
    height: 6em;
    clip-path: circle(2.5em at center);
}

#editButtonTotal{
    position: relative;
    top: 15.5em;
    left: 4em;
}

#editButton:hover {
    cursor: pointer;
}

.userInfoText {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    overflow: hidden;
    max-width: 10em;
    margin-left: auto;
    margin-right: auto;
}

.editUserInfo {
    display: none;
}

#userPanel {
    height: 100%;
    background-color: #BFD5F6;
}

.panelButton {
    background-color: #789BD0;
    display: block;
    width: 250px;
    height: 80px;
    margin: 20px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    font-family: Righteous, sans-serif;
    font-size: 2em;
}

.panelButton:hover {
    cursor: pointer;
}

.panelButton:focus {
    outline-width: 0;
}

#housesPanel {
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    position: relative;
}

#editProfileDiv {
    background-color: #789BD0;
    height: min-content;
    margin-top: 10em;
    width: 80%;
    min-width: 33em;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    padding: 1em;
}

#editProfileDiv h1 {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    color: white;
    width: max-content;
}

#editProfileDiv label {
    display: grid;
    grid-template-columns: 10em auto;
}

#editProfileDiv label p{
    display: inline-block;
    width: 10em;
    margin: 0;
    margin-top: auto;
    margin-bottom: auto;
}

#editProfileDiv label input{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin-left: auto;
    width: 100%;
}

#editProfileDiv label input[type="date"]{
    box-sizing: border-box;
    width: 50%;
    margin-left: 0;
}

#editProfileDiv input[type="submit"]{
    border: none;
    background-color:  #BFD5F6;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.hiddenPanel {
    display: none;
}

.currentPanel {
    display: block;
    width: 100%;
}

.slideLeftAnimation {
    position: absolute;
    -webkit-animation: translateLeft 1s;
    animation: translateLeft 1s
}

.slideLeftEnterAnimation {
    position: absolute;
    top: 0;
    -webkit-animation: translateLeftEnter 1s;
    animation: translateLeftEnter 1s
}

@-webkit-keyframes translateLeft {
    from {-webkit-transform: translate(0, 0)} 
    to {-webkit-transform: translate(-150%, 0)}
}
    
@keyframes translateLeft {
    from {transform: translate(0, 0)} 
    to {transform: translate(-150%, 0)}
}

@-webkit-keyframes translateLeftEnter {
    from {-webkit-transform: translate(150%, 0)} 
    to {-webkit-transform: translate(0, 0)}
}
    
@keyframes translateLeftEnter {
    from {transform: translate(150%, 0)} 
    to {transform: translate(0, 0)}
}

#userTrips h1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: max-content;
}

#ownedHouses h1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: max-content;
}

.ownedHouse, .trip {
    position: relative;
    width: 70em;
    height: 30em;
    border-radius: 25px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}

.ownedHouseImg, .tripImg {
    position: absolute;
    left: 50%;
    top: 50%;
     -moz-transform: translate(-50%, -50%);
     -webkit-transform: translate(-50%, -50%);
     transform: translate(-50%, -50%);
     height: 100%;
     min-width: 100%;
}

.houseInfo {
    position: absolute;
    width: 100%;
    height: 10%;
    background-color: rgba(240, 248, 255, 0.95);
    bottom: 0;
    font-family: Righteous, sans-serif;
}

.tripDates {
    float: right;
    margin-right: 1em;
}

.houseInfo p{
    display: inline-block;
    width: max-content;
    margin-left: 1em;
    margin-top: 0.5em;
    font-size: larger;
}

.rating {
    width: max-content;
    height: 1em;
    float: right;

    margin-top: 0em;
    margin-right: 1em;

    font-size: xx-large;
}

.yellowStar {
    color: #ffc700;
}

.greyStar {
    color: #cccccc;
}

.star {
    float: left;
    padding: 0.1em;
}

.cancelReservation {
    border: none;
    background: rgb(228, 66, 66);
    border-radius: 25px;
    width: 20%;
    height: 60%;
    font-family: Righteous, sans-serif;
    font-size: larger;
    position: absolute;
    top: 20%;
    left: 40%;
}

.cancelReservation:hover {
    cursor: pointer;
}

.cancelReservation:focus {
    outline-width: 0;
}

.rateTrip {
    position: absolute;
    border: none;
    background: green;
    border-radius: 25px;
    width: 20%;
    height: 60%;
    font-family: Righteous, sans-serif;
    font-size: larger;
    top: 20%;
    left: 40%;
}

.rateTrip:hover {
    cursor: pointer;
}

.rateTrip:focus {
    outline-width: 0;
}

.ratingCenter {
    position: absolute;
    top: 0;
    left: 40%;
    width: max-content;
    height: 1em;

    margin-top: 0em;
    margin-right: 1em;

    font-size: xx-large;
}

@media only screen and (max-width: 600px) {
    #all {
        display: grid;
        grid-template-rows: 5em min-content max-content;
        height: 100%;
    }

    #body {
        display: grid;
        grid-template-columns: 10em auto;
        font-family: Righteous, sans-serif;
        height: 100%;
        min-height: 100em;
        overflow: scroll;
    }

    .ownedHouse, .trip {
        position: relative;
        width: 90%;
        height: 20em;
        border-radius: 25px;
        overflow: hidden;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2em;
    }
    
    .ownedHouseImg, .tripImg {
        position: absolute;
        left: 50%;
        top: 50%;
         -moz-transform: translate(-50%, -50%);
         -webkit-transform: translate(-50%, -50%);
         transform: translate(-50%, -50%);
         height: 100%;
         min-width: 100%;
    }

    #profileContainer {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        height: auto;
    }

    #profilePicture {
        height: auto;
        width: 100%;
        border-radius: 2em;
        object-fit: cover;
    }

    #user_info h3{
        display: none;
    }

    .panelButton {
        background-color: #789BD0;
        display: block;
        width: 80%;
        height: auto;
        margin: 20px;
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
        border-radius: 15px;
        font-family: Righteous, sans-serif;
        font-size: x-large;
    }

    #editButtonTotal{
        position: relative;
        top: 11em;
        left: 2.25em;
    }

    #editProfileDiv {
        background-color: #789BD0;
        height: min-content;
        margin-top: 10em;
        width: 80%;
        min-width: 15em;
        margin-left: auto;
        margin-right: auto;
        border-radius: 20px;
        padding: 1em;
    }

    #editButton {
        background-color: rgba(255,255,255,0.95);
        border: none;
        width: 4em;
        height: 4em;
        clip-path: circle(2em at center);
    }

    .ownedHouse .rating {
        border-radius: 25px;
        height: 150%;
        background-color: rgba(240, 248, 255, 0.95);
        position: absolute;
        bottom: 8em;
        right: -0.5em;
    }

    .ratingCenter {
        border-radius: 25px;
        height: 150%;
        background-color: rgba(240, 248, 255, 0.95);
        position: absolute;
        top: -8.5em;
        left: 55%;
    }

    .tripDates {
        display: none;
    }
  }