body {
    background-color: white;
    margin:0;
}

a {
    text-decoration: none;
    color: inherit;
}

#all {
    display: grid;
    grid-template-rows: 3fr auto;
}

#topBar {
    display: grid;
    background-color: #789BD0;
    align-items: center;
    grid-template-columns: 5em 20em auto 5em 5em;
    grid-template-rows: auto;
    height: 4em;
}

#profilePic {
    margin: auto;
    clip-path: circle(30px at center);
}

#logOut {
    font-family: Righteous, sans-serif;
    margin: auto;
}

#logo {
    float: right;
    margin-left: 0;
    margin-right: 1em;
}

#addHouse {
    margin-left: auto;
    margin-right: 20px;
}

#searchBar {
    margin: auto;
    background-color: #BFD5F6;
    height: 2em;
    width: 90%;
    border-radius: 25px;
}

#searchField {
    float: left;
    display: block;
    padding: 0;
    margin-left: 0.5em;
    margin-top: 0.18em;
    margin-right: 0;
    border: 0;
    background-color: transparent;

    width: 80%;
    font-size: 20px;
}

#searchButton {
    padding: 0;
    width: 3em;
    height: 2.9em;
    border: none;
    background-color: #BFD5F6;
}

#Register, #LogIn {
    margin-left:auto;
    margin-right:auto;
}