body {
    background-color: white;
    margin:0;
}

a {
    text-decoration: none;
    color: inherit;
}

#all {
    display: grid;
    grid-template-rows: 5em min-content auto;
    min-height: 100vh;
}

#topBar {
    display: grid;
    align-items: center;
    grid-template-columns: 5em 20em auto 5em 5em;
    grid-template-rows: 5em;
    z-index: 1;
    color: #fff;
    background: linear-gradient(-45deg, #e99076, #df83e2, #62bbdb, #6ae7ca);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
0% {
background-position: 0% 50%;
}
50% {
background-position: 100% 50%;
}
100% {
background-position: 0% 50%;
}
}


#profilePic {
    width:100%;
    height:100%;
    margin: auto;
    clip-path: circle(30px at center);
}

#logOut {
    font-family: Righteous, sans-serif;
    margin: auto;
}

#logo {
  width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#addHouse {
    margin-left: auto;
    margin-right: 1em;
}

#addHouseLink{
  display: none;
}

#addHouseImg {
  display: inherit;
}

#searchBar {
    margin: auto;
    background-color: white;
    height: 2em;
    width: 90%;
    border-radius: 25px;
}

#searchField {
    float: left;
    display: block;
    padding: 0;
    margin-left: 0.5em;
    margin-top: 0.18em;
    margin-right: 0;
    border: 0;
    background-color: transparent;
    border-radius: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 80%;
    font-size: 20px;
}

#searchField:focus {
    outline-width: 0;
}

#searchButton {
    padding: 0;
    width: 3em;
    height: 100%;
    border: none;
    background-color: white;
    color: rgb(207, 207, 207)
}

#Register, #LogIn {
    margin-left:auto;
    margin-right:auto;
}
  
  #dropdown {
    width: 100%;
  }

  .noShow {
    display: none;
    height: 0;
  }

  #search_form {
      width: 100%;
  }

  .dropdown-content {
    display: inherit;
    background-color: #BFD5F6;
    overflow: auto;
    z-index: 0;
  }
  
  .dropdown-content form {
    height: 10%;
    background-color: #BFD5F6;
    color: black;
    padding: 12px 16px;
    display: grid;
    grid-template-columns: 15em 10em 10em auto;
  }
  
  .dropdown form:hover {
      background-color: rgb(200, 218, 243);;
  }

  .dropdownAnimation {
    -webkit-animation: translate 0.6s;
    animation: translate 0.6s
  }

  .dropUpAnimation {
    -webkit-animation: translateUp 0.6s;
    animation: translateUp 0.6s
  }

  @-webkit-keyframes translateUp {
    from {-webkit-transform: translate(0, 0)} 
    to {-webkit-transform: translate(0,-7.2em)}
  }
    
  @keyframes translateUp {
    from {transform: translate(0, 0)} 
    to {transform: translate(0, -7.2em)}
  }

  @-webkit-keyframes translate {
    from {-webkit-transform: translate(0, -7.2em)} 
    to {-webkit-transform: translate(0,0)}
  }
    
  @keyframes translate {
    from {transform: translate(0, -7.2em)} 
    to {transform: translate(0, 0)}
  }
  
  .show {
      display: block;
      height: min-content;
}

.top_bar_btn{
 width: 70%;
 background-color: transparent;
 font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 color: white;
 border: none;
 transition: 0.5s;
 justify-self: center;
}

.top_bar_btn:hover{
  border-bottom: thin solid white;
}


#login_form, #register_form{
    border: 3px solid white;
    background-color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

input{
  padding: 6px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 15px 50px; 
}

form button[type="submit"] {
  background-color: transparent;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 15px 50px; 
    transition: 0.5s;

  }
  form button[type="submit"]:hover {
    opacity: 0.7;
  }
  
  .modal {
    position: absolute;
    display: none; /* Hidden by default */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 200%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.719); /* Black w/ opacity */
  }

  .modal-content {
    position: fixed;
    top: 20em;
    left: calc(50% - 10em);
    background-color: #fefefe;
    border: 1px solid #888;
    width: 25em; 
    height: auto;
    padding: 1em;
    border-radius: 20px;
  }

  .input-div label {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin-bottom: 1em;
  }

  .input-div label input {
    width: 100%;
    margin: 0;
  }

  input:focus {
    outline-width: 0;
  }

  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }

  #closeExtraOption {
      padding: 0;
      border: none;
      background-color: transparent;
      float: right;
      margin-left: auto;
      margin-right: 4em;
      color: #789BD0;
      width: 5em;
      height: 5em;
      margin-top: auto;
      margin-bottom: auto;
  }

#closeExtraOption:hover {
    cursor: pointer;
}

    #closeExtraOption:focus {
        outline-width: 0;
    }

  .centerLabel {
      text-align: center;
      margin-left: 20%;
  }

  input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    background: transparent;
    border: none;
  }
  
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
  }
  
  input[type=range]:focus {
    outline: none;
  }
  
  input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent; 
    border-color: transparent;
    color: transparent;
  }

  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #789BD0;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
  }
  
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #367ebd;
  }
  
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
  }
  
  input[type=range]::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #2a6495;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #3071a9;
  }
  input[type=range]::-ms-fill-upper {
    background: #3071a9;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #367ebd;
  }

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 16px;
  width: 16px;
  border-radius: 20px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -3px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
  