body {
    background-color: white;
    margin:0;
}

#all {
    display: grid;
    grid-template-rows: 3fr auto;
}

#topBar {
    display: grid;
    background-color: #789BD0;
    align-items: center;
    grid-template-columns: 5em 20em auto 5em 5em;
}

#profilePic {
    margin: auto;
    clip-path: circle(30px at center);
}

#logOut {
    font-family: Righteous, sans-serif;
    margin: auto;
}

#logo {
    margin: auto;
}

#addHouse {
    margin-left: auto;
    margin-right: 20px;
}

#searchBar {
    margin: auto;
    background-color: #BFD5F6;
    height: 2em;
    width: 90%;
    border-radius: 25px;
}

#searchField {
    float: left;
    display: block;
    padding: 0;
    margin-left: 0.5em;
    margin-top: 0.18em;
    margin-right: 0;
    border: 0;
    background-color: transparent;

    width: 80%;
    font-size: 20px;
}

#searchButton {
    padding: 0;
    width: 3em;
    height: 2.9em;
    border: none;
    background-color: #BFD5F6;
}


  
  .dropdown {
    position: relative;
    display: inline-block;
  }

  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content form {
    height: 10%;
    background-color: rgb(228, 235, 245);
    color: black;
    padding: 12px 16px;
    display: flex;
    flex-direction: column;
    align-content: space-around;
  }
  
  .dropdown form:hover {
      background-color: rgb(200, 218, 243);}
  
  .show {
      display: block;
}

.top_bar_btn{
 background-color: #789BD0;
 font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 color: white;
 border: none;   
}

.top_bar_btn:hover{
    background-color: rgb(95, 138, 202);
}